@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F3F3ED;
}

.App{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.load-page{
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCF9;
  border-radius: 20px;
  height: 94vh;
  margin: 3vh;
  margin-left: 0;
}

.load-page p{
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding: 10px;
}

.shrinked-load-page{
  width: 80% !important;
}

.load-gif{
  width: 50px;
  height: 50px;
}

.main{
  width: 92%;
  background-color: #FCFCF9;
  border-radius: 20px;
  height: 94vh;
  margin: 3vh;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar{
  width: 5%;
  height: 92vh;
  padding: 4vh 0vh 4vh 0vh;
  border-right: 1px solid black;
}

.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 92vh;
}

.usable-icons, .control-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-box{
  background-color: white;
  height: 15vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #22808d;
}

.search-ip{
  border: none;
  height: 45%;
  width: 99.5%;
  font-size: 16px;
  border-radius: 20px 20px 0 0;
}

.search-ip:focus{
  outline: none;
}

.search-submit{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.search-submit p{
  border: 2px solid #22808d;
  color: #22808d;
  border-radius: 8px;
  padding: 7px;
  cursor: pointer;
  margin: 10px;
}

.search-submit-btn{
  background-color: #22808d;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.conversation{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
}

.messages{
  width: 60%;
  height: 80vh;
  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.msg{
  margin: 10px 0;
  max-width: 70%;
  word-wrap: break-word;
}

.user{
  font-size: 20px;
  padding: 15px;
  align-self: flex-end;
  background-color: #193639;
  width: fit-content;
  border-radius: 15px;
  color: white;
}

.bot{
  padding: 20px;
  border: 1px solid #193639;
  border-radius: 15px;
  width: fit-content;
}

.bot-msg-icons{
  display: flex;
  gap: 10px;
}

.bot-msg-icons *{
  height: 20px;
  width: 20px;
  padding: 2px;
}

.bot-msg-icons .active{
  border-bottom: 2px solid #22808d;
}

.history{
  width: 12%;
  height: 93vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.history-tabs{
  font-size: 18px;
  padding: 9px;
  background-color: rgb(79, 78, 78);
  color: white;
  border-radius: 10px;
  margin: 3px 0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.history-tabs:hover{
  border: 3px solid rgb(79, 78, 78);
  color: rgb(79, 78, 78);
  background-color: white;
}

.hidden{
  display: none;
}

.shrinked{
  width: 80% !important;
}

.current-hist{
  border: 2px solid #22808d;
  color: #22808d;
  background-color: white;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  padding-top: 4%;
}

.login-page h1{
  font-family: "Montserrat", sans-serif;
}

.login-form input{
  height: 4vh;
  margin: 1%;
  width: 100%;
  outline: none;
  border: 2px solid #193639;
  border-radius: 25px;
  padding: 5px;
  font-size: 16px;
}

.login-submit-btn{
  margin-top: 8%;
  width: 40%;
  height: 5vh;
  background-color: #193639;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.new-chat{
  background-color: #22808d;
  color: white;
  border: none;
  text-align: center;
}

.new-chat:hover{
  background-color: white;
  color: #22808d;
  border: 2px solid #22808d;
}

.login-page{
  width: 40%;
  text-align: center;
  border: 2px solid #193639;
  padding: 5%;
  border-radius: 25px;
}

.title-tab{
  position: fixed;
  height: 5vh;
  background-color: white;
  width: 78%;
  border-bottom: 2px solid black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 2%;
  font-size: 25px;
  border-radius: 20px 20px 0 0;
}

.expanded-title-tab{
  width: 90% !important;
}

/* .typing-text{
  overflow: hidden;
  border-right: .15em solid orange;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent;}
  50% { border-color: orange; }
} */